.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.palatte{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.palatte button{
  margin-top: 10px;
}